.LoginSignUpContainer {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(231, 231, 231);
  position: fixed;
  top: 0%;
  left: 0;
}



  
.LoginSignUpBox {
  background-color: white;
  width: 25vw;
  height: 70vh;
  box-sizing: border-box;
  overflow: hidden;
}

 .signupForm,
.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 2vmax;
  justify-content: space-evenly;
  height: 70%;
  transition: all 0.5s;
}

.loginBtn,
.signUpBtn {
  border: none;
  background-color: tomato;
  color: white;
  font: 300 0.9vmax "Roboto";
  width: 110%;
  padding: 0.8vmax;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
}

.loginBtn:hover,
.signUpBtn:hover {
  background-color: rgb(179, 66, 46);
}

.loginForm,
.signUpForm {
  padding: 5vmax;
}

 

 .email,
  .name,
  .password{
  border: none;


  font: 300 0.9vmax "Roboto";
  width: 100%;
  padding: 0.8vmax;
 
  transition: all 0.5s;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
  margin-bottom: 10%;
 } 

 .link{
      text-decoration: none;
       text-align: center;
      border: none;
      background-color: rgb(58, 26, 218);
      color: white;
      font: 300 0.9vmax "Roboto";
      width: 100%;
      padding: 0.8vmax;
      cursor: pointer;
      transition: all 0.5s;
      border-radius: 4px;
      outline: none;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
 }